.failed-0{
    background-image: url(https://media.giphy.com/media/MVgLEacpr9KVK172Ne/giphy.gif);   
}

.failed-1{
 background-image: url(https://media.giphy.com/media/u3bdObCPWIpdaxIdRZ/giphy-downsized-large.gif);   
}

.ehh-0{
    background-image: url(https://media.giphy.com/media/3ihqyT6OL3ylfaT5Ku/giphy.gif);
}
.ehh-1{
    background-image: url(https://media2.giphy.com/media/fPYeJtlH8qjiHbKygX/giphy.gif?cid=ecf05e47m6br6zs1e7639o62ftiz8o3n8szqqkk1osnb73sm&ep=v1_gifs_search&rid=giphy.gif&ct=g);
}

.good-0{
    background-image: url(https://media.giphy.com/media/3o7absbD7PbTFQa0c8/giphy.gif);
}


.good-1{
    background-image: url(https://media.giphy.com/media/tIeCLkB8geYtW/giphy.gif);
}


.best-0{
    background-image: url(https://media.giphy.com/media/5jT0jaNDsM6Ik7X9yq/giphy.gif);
}
.best-1{
    background-image: url(https://media.giphy.com/media/3oz8xAFtqoOUUrsh7W/giphy.gif);
}